fn1	FONT	"Cyr_Old.ttf"
fn2	FONT	"Pero.ttf"
fn3	FONT	"Lock_Cloc_3.ttf"
bm1	RCDATA	"sun1.png"
bm2	RCDATA	"fern3.png"
bm3	RCDATA	"r_arrow5.png"
bm4	RCDATA	"l_arrow5.png"
bm5	RCDATA	"svitok0.png"
bm6	RCDATA	"svitok1.png"
bm7	RCDATA	"svitok2.png"
bm8	RCDATA	"arr0.png"
bm9	RCDATA	"arr1.png"
bm10	RCDATA	"arr2.png"
bm11	RCDATA	"arr3.png"
tx1	RCDATA	"Leto.txt"
au1	RCDATA	"shlst.wav"
au2	RCDATA	"qq3.wav"
au3	RCDATA	"drr3.wav"
au4	RCDATA	"drr4.wav"
au5	RCDATA	"whl1.wav"
